body {
	heigh:665px;
	background-image: url("https://carontestudio.com/img/caronte-web-estudio-logo.png");
	background-repeat: repeat-y;
	background-size: 10rem;
  }

header{
	width: 1000px;
	height: 700px;

}  