.tarjeta {
    border: 2px solid lightgray;
    background-color: antiquewhite;
    border-radius: 11px;
    padding: 22px;
    box-shadow: 2px 2px lightgray;
    margin-bottom: 15px;
}

.label{
    color: white;
}


h1{
    color: antiquewhite;
}