<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <script src="https://kit.fontawesome.com/bca5c696fd.js" crossorigin="anonymous"></script>
  <link th:href="@{/css/menu.css}" rel="stylesheet">
  
</head>
<body>
  <header th:replace="fragments/header::header"></header>
  <main>
<!-- partial:index.partial.html -->
<nav class="menu">
   <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
   <label class="menu-open-button" for="menu-open">
    <span class="lines line-1"></span>
    <span class="lines line-2"></span>
    <span class="lines line-3"></span>
  </label>

   <a th:href="@{/disciplinas/agregar}" abbr title="Agregar" class="menu-item blue"> <i class="fa fa-user-plus"></i> </a>
   <a href="#" abbr title="Buscar" class="menu-item green"> <i class="fa fa-magnifying-glass"></i></a>
   <a href="#" abbr title= "Eliminar" class="menu-item red"> <i class="fa fa-user-minus"></i> </a>
   <a href="#" abbr title= "Cerrar sesión" class="menu-item purple"> <i class="fa fa-arrow-right-from-bracket"></i> </a>
     <a href="#" abbr title= "Regresar" class="menu-item orange">  <i class="fa fa-rotate-left"></i>
   <a href="#" abbr title= "Perfil" class="menu-item lightblue"> <i class="fa fa-user"></i> </a>
</nav>
<!-- partial -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><!--script  src="PUMALIMPICOS/pumalimpicos/src/main/resources/static/js/script.js"></script-->
 
</main>

<footer th:replace="fragments/footer::footer"></footer>
</body>

<script language="js">
https:www.materialup.com/posts/colourful-flower-popup-menu
</script>
</html>
